@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}
body {
  background-color: rgb(52, 43, 43);
  height: 100vh;
  overflow: hidden;
}

/* scroll */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(186, 186, 186, 0.671);
  border-radius: 10px;
}

.deck {
  height: 26rem;
  position: relative;
  -webkit-perspective: 3000px;
  perspective: 3000px;
  font-family: verdana;
}
.card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: whitesmoke;
}
.back {
  overflow: hidden;
  z-index: -1;
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
}
.back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.front,
.back {
  transition: all 0.5s linear;
}
.flipped {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.frontPage {
  display: none;
}
.visible {
  display: initial;
}

.navActive-p {
  @apply -translate-x-1/2 opacity-100;
}
.navActive-img {
  @apply -translate-x-[400%] opacity-0;
}
.navActive-div {
  @apply bg-[#0ff0f0];
}
.colorActive {
  @apply translate-x-[9rem];
}
.main-section {
  @apply uppercase h-20 text-5xl border font-bold border-dashed border-black mt-8 mx-12 flex items-center justify-center;
}
.portfolioImageItem {
  @apply w-full h-full object-cover object-center overflow-hidden duration-200 hover:scale-110 hover:rotate-2 hover:brightness-50;
}
.cv .changeAnimaColor:hover {
  animation: animate 0.5s linear infinite;
  transform: translateX(0);
}
@keyframes animate {
  0% {
    transform: translateX(0rem);
  }
  15%,
  80% {
    transform: translateX(2rem);
  }
  45% {
    transform: translateX(-2rem);
  }
}

@media (min-width: 320px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 110%;
  }
}
