@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(52, 43, 43);
  height: 100vh;
  font-family: sans-serif;
}
.deck {
  height: 26rem;
  position: relative;
  -webkit-perspective: 3000px;
  perspective: 3000px;
  font-family: verdana;
}
.card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: whitesmoke;
}
.back {
  overflow: hidden;
  z-index: -1;
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
}
.back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.front,
.back {
  transition: all 0.5s linear;
}
.flipped,
.hovercard:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.frontPage {
  display: none;
}
.visible {
  display: initial;
}
